@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: rgba(41, 59, 95, 1);
}

/*SECCIÓN DISTANCIA*/
.seccionA{
    height: 200px;
  }

.container {
    margin:60px auto;
}
.seccion-funcionamiento{
    background-color:rgb(219, 230, 253);
    height: 80%;
    border-radius:10px;
}
.funcionamiento-nombre{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(71, 89, 126, 1);
    padding-top: 40px;
}
@media screen and (min-width: 661px) {
    div.funcionamiento-nombre
    {
        font-size: 40px;
    }
  }
@media screen and (max-width: 660px) {
    div.funcionamiento-nombre 
    {
        font-size: 20px;
    }
  }

.funcionamiento-valores{
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#columna button{
    object-fit: cover;
    width: 100%;
}

.divisiones{
    background-color:rgb(219, 230, 253);
    height: 100%;
    border-radius:10px;
    align-content: center;
}

/*SECCIÓN RED*/
input{
    width: 50%;
    display: block;
    margin: 15px auto;
}
.datosred{
    text-align: center;
    position: relative;
    align-content: center;
    padding-bottom: 20px;
}
.espacio{
    height: 30px;
    outline: none;
}
.textoA{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(71, 89, 126, 1);
    padding-top: 20px;
}
.textoB{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(71, 89, 126, 1);
    padding-bottom: 10px;
}
.textoB2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:black;
    padding-bottom: 10px;
}

/*SECCIÓN DISTANCIA*/
.distanciaset{
    height: 30%;
}
.distanciapush{
    height: 70%;
}
.textoset{
    width: 50%;
}
.textoB{
    font-family: 'Open Sans', sans-serif;
    color: rgba(71, 89, 126, 1);
    padding-top: 20px;
    padding-left: 20px;
}
/*
.carousel-inner img{
    object-fit: cover;
    height: 500px;
    width: 100%;
}
.container formu{
    margin-top: 100px;
}

.barra{
    margin-left: 20px;
    margin-right: 20px;
}
.container barra{
    margin-right: 0px;
}

.container boton{
    margin-top: 100px;
}

.class justificacion{
    justify-content: center;
}
*/




